<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="font-family: Arial, sans-serif; background-color: #f5f5f5">
    <header
      style="background-color: rgb(182, 27, 27); color: white; padding: 20px"
    >
      <h1>About Me/About Django BE</h1>
    </header>
    <main style="padding: 20px">
      <section id="about-me">
        <h2 style="margin-bottom: 10px">About Me</h2>
        <p>
          Write a brief description of yourself, your background, and your
          skills or experience. This could include your education, work history,
          or any relevant achievements.
        </p>
        <p>
          Share your interests, hobbies, or anything else that makes you unique
          and interesting.
        </p>
      </section>
      <section id="what-i-do">
        <h2 style="margin-bottom: 10px">What I Do/What [Project Name] Does</h2>
        <p>
          Describe your work, projects, or the goals of your project. What are
          you passionate about? What problems do you solve? What value do you
          offer?
        </p>
        <p>
          Highlight your unique selling points or what sets you/your project
          apart from others.
        </p>
      </section>
      <section id="call-to-action">
        <h2 style="margin-bottom: 10px">Get in Touch/Learn More</h2>
        <p>
          Tell your visitors what you want them to do next. Do you want them to
          contact you? Visit your website? Learn more about your project?
          Provide clear calls to action with links or contact information.
        </p>
      </section>
    </main>
    <footer
      style="
        background-color: rgb(182, 27, 27);
        color: #fff;
        padding: 10px;
        text-align: center;
      "
    >
      <p>&copy; 2024 DJANGO BE</p>
    </footer>
  </body>
</html>
